@page
@model WEB.Pages.TicketStatsModel
@{
}

<h1 class="mb-3">Ticket stats for This week</h1>
<h3>Normal Tickets - @Model.NormalTickets</h3>
<h3>Kids Tickets - @Model.KidsTickets</h3>
<h3>Group Tickets - @Model.GroupTickets</h3>

<hr>

<h1 class="mb-3">Ticket stats per month</h1>
<h3>January - @Model.January</h3>
<h3>February - @Model.February</h3>
<h3>March - @Model.March</h3>
<h3>April - @Model.April</h3>
<h3>May - @Model.May</h3>
<h3>June - @Model.June</h3>
<h3>July - @Model.July</h3>
<h3>August - @Model.August</h3>
<h3>September - @Model.September</h3>
<h3>October - @Model.October</h3>
<h3>November - @Model.November</h3>
<h3>December - @Model.December</h3>





